.devices-page{

display:flex;

background:#0f172a;

min-height:100vh;

color:white;

}

.devices-content{

flex:1;

margin-left:250px;

padding:35px;

}

.devices-content h1{

margin-bottom:30px;

}

.device-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:25px;

}

.device-card{

background:#1e293b;

padding:25px;

border-radius:15px;

box-shadow:0 0 12px rgba(0,0,0,.3);

transition:.3s;

}

.device-card:hover{

transform:translateY(-5px);

box-shadow:0 0 20px rgba(0,212,255,.4);

}

.device-card h2{

margin-bottom:20px;

}

.device-card hr{

margin:15px 0;

border:none;

height:1px;

background:#334155;

}

.fingerprint{

word-break:break-all;

font-size:13px;

color:#cbd5e1;

margin-bottom:10px;

}

.safe{

color:#00ff88;

font-weight:bold;

}

.danger{

color:#ff4d4d;

font-weight:bold;

}

.device-card button{

margin-top:20px;

width:100%;

padding:12px;

background:#00d4ff;

border:none;

border-radius:8px;

color:white;

cursor:pointer;

font-size:16px;

}

.device-card button:hover{

background:#0284c7;

}

@media(max-width:900px){

.devices-content{

margin-left:0;

padding:20px;

}

}