.settings-page{

display:flex;

background:#101827;

min-height:100vh;

color:white;

}

.settings-content{

margin-left:260px;

padding:40px;

width:100%;

}

.settings-content h1{

margin-bottom:30px;

color:#00d4ff;

}

.settings-card{

background:#1b2745;

padding:30px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,212,255,.2);

max-width:700px;

}

.setting-row{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 0;

border-bottom:1px solid #31415d;

font-size:18px;

}

.setting-row input{

width:22px;

height:22px;

cursor:pointer;

}

.security-info{

margin-top:30px;

text-align:center;

}

.secure{

color:#00ff88;

margin:10px 0;

}

.save-btn{

margin-top:30px;

width:100%;

padding:15px;

background:#00d4ff;

border:none;

border-radius:10px;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.save-btn:hover{

background:#00b7e6;

transform:scale(1.02);

}